* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.parent {
  padding: 40px 0;
  min-height: 100vh;
  width: 100vw;
background-color: #000;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 20px 20px ;
}

.card {
  
  height: 400px;
  width: 350px;
  border: 2px solid rgb(76, 76, 75);
  border-radius: 35px;
  padding: 40px;
    color: rgb(0, 0, 0);
  background: #ffffff;
}

.head {

  width: 100%;
  /* background: #4c4343; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  
  /* overflow: hidden; */
}

.head img {
  height: 100%;
  max-width: 250%;
  object-fit: contain;
}

.head button {

  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;

  margin: 10px 4px;
  padding: 4px 15px;
  border-radius: 2px;
  font-size: 20px;
}

.center {
  padding-top: 20px;
  height: 70%;
  width: 100%;
  border-bottom: 2px solid rgb(149, 146, 140);
  margin-bottom: 20px;

}

.center span {
  display: flex;
  align-items: end;
}

.center span p {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.center span small {
  font-size: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
}

.center>div h4 {
  font-size: 2rem;
  text-transform: capitalize;
}

.center div button {
  border: none;
  margin: 10px 4px;

  padding: 3px 5px;
  border-radius: 2px;
  font-size: large;
}

.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot div h4 {
  font-size: 1.7rem;
}

.foot p {
  font-size: 18px;
  text-transform: capitalize;
}

.foot button {
  padding: 3px 10px;
  font-size: 1.4rem;
  border: none;
  background: #000;
  color: #fdfafa;
  border-radius: 4px;

}